﻿body{font-family:Arial,宋体;background-color:#f5f5f5;margin:0;}
.pgbody{background-color:#87212e;}
.htbody{background:url(img/bg_ht.png);}

td{font-size:12px;}

.amm{FONT-SIZE:12px;TEXT-DECORATION:none;color:black;}
.tmm{height:25px;background:url(/img/menuback.gif);text-align:center;}
.tmm2{height:25px;background-color:#FCECE4;text-align:center;}
.tmm1{FONT-SIZE:12px;vertical-align:middle;}
.tbmm{width:80px;background-color:white;border-style:solid;border-width:1px;border-color:#AAAAAA;}

.winbg{position:absolute;left:0px;top:0px;}
.winbgb{background-color:black;filter:alpha(opacity=20);-moz-opacity:0.20;opacity:0.4;}
.win{background-color:#f5f5f5;border:solid 5px #dddddd;padding:10px;}
.wintitle{height:12px;font-size:14px;font-weight:bold;padding-left:10px;padding-bottom:20px;}

.ht_bt{font-size:14px;line-height:1.8;font-weight:bold;padding-bottom:20px;}
.ht_ss{font-size:14px;padding-bottom:10px;line-height:1.5;}
.ht_gj{font-size:14px;padding-top:10px;line-height:1.5;}
.ht_bb{border-spacing:0px;border-collapse:collapse;width:100%;background-color:white;line-height:1.5;}
.ht_bb th{padding:5px;background-color:#dddddd;text-align:left;font-weight:normal;border:solid 1px #cccccc;font-size:12px;}
.ht_bb td{padding:5px;border:solid 1px #cccccc;}

.HtList{font-size:14px;}
.HtList .i{height:25px;}
.HtList .z{padding-left:10px;line-height:1.8;font-size:12px;padding-bottom:10px;}


.piw{font-size:12px;line-height:1.5;}
.piw div{padding-bottom:20px;}
.piw div span{font-size:10px;padding-left:20px;}
.piwh{padding:10px 10px 0 10px;border:solid 1px #0063dc;color:#0063dc;}

.pit{font-size:12px;padding-bottom:10px;margin-bottom:10px;line-height:1.5;width:100%;}
.pit .a{float:left;}
.pit .a span{font-size:24px;font-weight:bold;}
.pit .b{float:right;}

.zhengwen{font-family:宋体;font-size:12px;line-height:1.5;}
.zhengwen a{color:#0063dc;}

.tb_form{border-spacing:0px;border-collapse:collapse;}
.tb_form td{padding:5px 5px 5px 0;}

ul,li,dt,dd{list-style:none;list-style-position:outside;padding:0;margin:0;}
h1,h2,h5,h6{padding:0;margin:0;}
h2{font-size:16px;font-weight:bold;padding:0;margin:0;padding-top:5px;padding-bottom:5px;line-height:1.8;}
h3{font-size:14px;font-weight:bold;padding:0;margin:0;padding-top:5px;padding-bottom:5px;line-height:1.8;}
h4{font-size:14px;font-weight:normal;padding:0;margin:0;padding-bottom:5px;line-height:1.8;}

.nowrap{white-space:nowrap;}

.b_c{border-collapse:collapse}
.b_0l{border-left:0;}
.b_0r{border-right:0;}
.b_0t{border-top:0;}
.b_0b{border-bottom:0;}
.b_wh{border:1px solid white}
.b_bk{border:1px solid black}
.b_bkb{border-bottom:1px solid black}
.b_2bk{border:2px solid black}
.b_yw2{border:1px solid #e4dfcb;}
.b_yw2l{border-left:1px solid #e4dfcb;}
.b_yw2r{border-right:1px solid #e4dfcb;}
.b_yw2t{border-top:1px solid #e4dfcb;}
.b_yw2b{border-bottom:1px solid #e4dfcb;}
.b_gy1{border:solid 1px #f5f5f5;}
.b_gy1l{border-left:solid 1px #f5f5f5;}
.b_gy1r{border-right:solid 1px #f5f5f5;}
.b_gy1t{border-top:solid 1px #f5f5f5;}
.b_gy1b{border-bottom:solid 1px #f5f5f5;}
.b_gy2{border:solid 1px #dddddd;}
.b_gy2l{border-left:solid 1px #dddddd;}
.b_gy2r{border-right:solid 1px #dddddd;}
.b_gy2t{border-top:solid 1px #dddddd;}
.b_gy2b{border-bottom:solid 1px #dddddd;}
.b_gyd2{border:dashed 1px #dddddd;}
.b_gyd2l{border-left:dashed 1px #dddddd;}
.b_gyd2r{border-right:dashed 1px #dddddd;}
.b_gyd2t{border-top:dashed 1px #dddddd;}
.b_gyd2b{border-bottom:dashed 1px #cccccc;}
.b_gyd3{border:dashed 1px #cccccc;}
.b_gyd3l{border-left:dashed 1px #cccccc;}
.b_gyd3r{border-right:dashed 1px #cccccc;}
.b_gyd3t{border-top:dashed 1px #cccccc;}
.b_gyd3b{border-bottom:dashed 1px #cccccc;}

.g_wh{background-color:white;}
.g_yw{background-color:yellow;}
.g_yw1{background-color:#eceadd;}
.g_gy0{background-color:#f5f5f5;}
.g_gy1{background-color:#CCCCCC;}
.g_gy3{background-color:#dddddd;}
.g_rd1{background-color:#87212e;}

.hl{background-color:yellow;color:black;}

.t_wh{color:white;}
.t_rd{color:red;}
.t_rd1{color:#87212e;}
.t_bl1{color:#0063dc;}	//狗屎蓝
.t_bk{color:black;}
.t_gy1{color:#777777;}
.t_gy3{color:#cccccc;}
.t_og1{color:#ff6600;}

.t_5{font-size:5px;}
.t_10{font-size:10px;}
.t_12{font-size:12px;}
.t_14{font-size:14px;}
.t_16{font-size:16px;}
.t_18{font-size:18px;}
.t_24{font-size:24px;}

.t_b{font-weight:bold}
.t_u{TEXT-DECORATION:underline}
.t_n{font-weight:normal}

.t_s{font-family:宋体;}
.t_h{font-family:微软雅黑,黑体;}

a{color:black;TEXT-DECORATION:none}
a:hover{TEXT-DECORATION:underline;}
.a_norm:hover{TOP:0px;position:relative}

.ha{color:#0063dc;padding:0 2px 0 2px;font-family:宋体;}

input{border:1px solid #777777;font-size:14px;}
textarea{border:1px solid #777777;font-size:14px;}
.aa{border:0;}
select{border:1px solid #777777;font-size:14px;}
.btn{background-color:#0063dc;color:white;}

.dbtn{height:39px;}
.dbtn .a{float:left;height:39px;width:7px;background:url(/img/btn1.png);}
.dbtn .b{float:left;height:39px;font-size:18px;font-family:微软雅黑,黑体;color:#87212e;background:url(/img/btn2.png);padding-left:20px;padding-right:20px;line-height:33px;}
.dbtn .b a{color:#87212e;}
.dbtn .c{float:left;height:39px;width:9px;background:url(/img/btn3.png);}

.qw{background:url(/img/1dpi.png);}
.qw128{position:absolute;z-index:10;width:130px;height:130px;background-color:#f5f5f5;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}

.l_2{line-height:2px}
.l_3{line-height:3px}
.l_5{line-height:5px}
.l_10{line-height:1.0}
.l_11{line-height:1.1}
.l_12{line-height:1.2}
.l_13{line-height:1.3}
.l_14{line-height:1.4}
.l_15{line-height:1.5}
.l_16{line-height:1.6}
.l_17{line-height:1.7}
.l_18{line-height:1.8}
.l_20{line-height:2.0}
.l_22{line-height:2.2}
.l_25{line-height:2.5}
.l_26{line-height:2.6}
.l_30{line-height:3.0}

.w2{width:2px;}
.w3{width:3px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w128{width:128px;}
.w140{width:140px;}
.w160{width:160px;}
.w172{width:172px;}
.w180{width:180px;}
.w185{width:185px;}
.w190{width:190px;}
.w200{width:200px;}
.w215{width:215px;}
.w220{width:220px;}
.w240{width:230px;}
.w240{width:240px;}
.w254{width:254px;}
.w260{width:260px;}
.w280{width:280px;}
.w300{width:300px;}
.w336{width:336px;}
.w340{width:340px;}
.w448{width:448px;}
.w450{width:450px;}
.w468{width:468px;}
.w530{width:530px;}
.w570{width:570px;}
.w580{width:580px;}
.w590{width:590px;}
.w600{width:600px;}
.w616{width:616px;}
.w638{width:638px;}
.w640{width:640px;}
.w660{width:660px;}
.w674{width:674px;}
.w680{width:680px;}
.w700{width:700px;}
.w745{width:745px;}
.w760{width:760px;}
.w778{width:778px;}
.w788{width:788px;}
.w798{width:798px;}
.w800{width:800px;}
.w850{width:850px;}
.w900{width:900px;}
.w940{width:940px;}
.w980{width:980px;}
.w100p{width:100%;}

.h_10{height:10px}
.h15{height:15px}
.h20{height:20px}
.h25{height:25px}
.h30{height:30px}
.h40{height:40px}
.h50{height:50px}
.h70{height:70px}
.h80{height:80px}
.h100{height:100px}
.h120{height:120px}
.h128{height:128px}
.h150{height:150px}
.h170{height:170px}
.h180{height:180px}
.h200{height:200px}
.h210{height:210px}
.h230{height:230px}
.h248{height:248px}
.h267{height:267px}
.h290{height:290px}
.h300{height:300px}
.h400{height:400px}
.h450{height:450px}
.h500{height:500px}

.a_l{text-align:left}
.a_c{text-align:center}
.a_r{text-align:right}
.a_t{vertical-align:top}
.a_m{vertical-align:middle}
.a_b{vertical-align:bottom}
.d_c{margin:0 auto}
.f_l{float:left;}
.f_r{float:right;}

.c_b{clear:both}

.pd_2{padding:2px}
.pd_2l{padding-left:2px}
.pd_2r{padding-right:2px}
.pd_2t{padding-top:2px}
.pd_2b{padding-bottom:2px}
.pd_3{padding:3px}
.pd_3l{padding-left:3px}
.pd_3r{padding-right:3px}
.pd_3t{padding-top:3px}
.pd_3b{padding-bottom:3px}
.pd_5{padding:5px}
.pd_5l{padding-left:5px}
.pd_5r{padding-right:5px}
.pd_5t{padding-top:5px}
.pd_5b{padding-bottom:5px}
.pd_6{padding:6px}
.pd_6l{padding-left:6px}
.pd_6r{padding-right:6px}
.pd_6t{padding-top:6px}
.pd_6b{padding-bottom:6px}
.pd_7{padding:7px}
.pd_7l{padding-left:7px}
.pd_7r{padding-right:7px}
.pd_7t{padding-top:7px}
.pd_7b{padding-bottom:7px}
.pd_8{padding:8px}
.pd_8l{padding-left:8px}
.pd_8r{padding-right:8px}
.pd_8t{padding-top:8px}
.pd_8b{padding-bottom:8px}
.pd_10{padding:10px}
.pd_10l{padding-left:10px}
.pd_10r{padding-right:10px}
.pd_10t{padding-top:10px}
.pd_10b{padding-bottom:10px}
.pd_15{padding:15px}
.pd_15l{padding-left:15px}
.pd_15r{padding-right:15px}
.pd_15t{padding-top:15px}
.pd_15b{padding-bottom:15px}
.pd_20{padding:20px}
.pd_20l{padding-left:20px}
.pd_20r{padding-right:20px}
.pd_20t{padding-top:20px}
.pd_20b{padding-bottom:20px}
.pd_25{padding:25px}
.pd_25l{padding-left:25px}
.pd_25r{padding-right:25px}
.pd_25t{padding-top:25px}
.pd_25b{padding-bottom:25px}
.pd_30{padding:30px}
.pd_30l{padding-left:30px}
.pd_30r{padding-right:30px}
.pd_30t{padding-top:30px}
.pd_30b{padding-bottom:30px}
.pd_40{padding:40px}
.pd_40l{padding-left:40px}
.pd_40r{padding-right:40px}
.pd_40t{padding-top:40px}
.pd_40b{padding-bottom:40px}
.pd_50{padding:50px}
.pd_50l{padding-left:50px}
.pd_50r{padding-right:50px}
.pd_50t{padding-top:50px}
.pd_50b{padding-bottom:50px}

.mg_0{margin:0px}
.mg_0l{margin-left:0px}
.mg_0r{margin-right:0px}
.mg_0t{margin-top:0px}
.mg_0b{margin-bottom:0px}
.mg_3{margin:3px}
.mg_3l{margin-left:3px}
.mg_3r{margin-right:3px}
.mg_3t{margin-top:3px}
.mg_3b{margin-bottom:3px}
.mg_5{margin:5px}
.mg_5l{margin-left:5px}
.mg_5r{margin-right:5px}
.mg_5t{margin-top:5px}
.mg_5b{margin-bottom:5px}
.mg_8{margin:8px}
.mg_8l{margin-left:8px}
.mg_8r{margin-right:8px}
.mg_8t{margin-top:8px}
.mg_8b{margin-bottom:8px}
.mg_9{margin:9px}
.mg_9l{margin-left:9px}
.mg_9r{margin-right:9px}
.mg_9t{margin-top:9px}
.mg_9b{margin-bottom:9px}
.mg_10{margin:10px}
.mg_10l{margin-left:10px}
.mg_10r{margin-right:10px}
.mg_10t{margin-top:10px}
.mg_10b{margin-bottom:10px}
.mg_20{margin:20px}
.mg_20l{margin-left:20px}
.mg_20r{margin-right:20px}
.mg_20t{margin-top:20px}
.mg_20b{margin-bottom:20px}
.mg_25{margin:25px}
.mg_25l{margin-left:25px}
.mg_25r{margin-right:25px}
.mg_25t{margin-top:25px}
.mg_25b{margin-bottom:25px}
.mg_30{margin:30px}
.mg_30l{margin-left:30px}
.mg_30r{margin-right:30px}
.mg_30t{margin-top:30px}
.mg_30b{margin-bottom:30px}
.mg_40{margin:40px}
.mg_40l{margin-left:40px}
.mg_40r{margin-right:40px}
.mg_40t{margin-top:40px}
.mg_40b{margin-bottom:40px}

.tpd_0 td{padding:0px}
.tpd_2 td{padding:2px}
.tpd_5 td{padding:5px}
.tpd_8 td{padding:8px}
.tpd_10 td{padding:10px}

.tsp_0{border-spacing:0px}
.tsp_2{border-spacing:2px}
.tsp_5{border-spacing:5px}
.tsp_8{border-spacing:8px}
.tsp_10{border-spacing:10px}

.cr_hand{cursor:hand;cursor:pointer}

.pb{display:block;}
.pn{display:none;}
.pi{display:inline}

.ht_bot{width:950px;height:5px;background:url(/img/my01.gif);margin:0 auto;}
.ht_top1{width:930px;margin:0 auto;}
.ht_top1 li{float:left;width:78px;height:25px;text-align:center;padding-top:3px;}
.ht_top1 li a{font-size:12px;color:#1f34b0;font-weight:bold;}
.ht_menu{background:url(/img/my02b.gif);}
.ht_menu1{background:url(/img/my02a.gif);}
.ht_top2{width:950px;height:4px;background:url(/img/my02.gif);margin:0 auto;clear:both;}





.gw{width:980px;margin:0 auto;}
.gw1{background-color:#f5f5f5;}

.gt{padding-top:30px;font-size:12px;}
.gt a{font-weight:bold;}
.gt font{font-family:宋体;font-weight:bold;padding-left:10px;padding-right:10px;}
.gt span{font-size:18px;color:#87212e;font-weight:bold;}

.dh2{border-bottom:1px solid #a79269;}
.jin2{margin-top:50px;border-top:1px solid #a79269;height:2px;border-bottom:5px solid #a79269;font-size:1px;}
.jin2a{border-top:1px solid #a79269;height:2px;border-bottom:5px solid #a79269;font-size:1px;}

.tou{width:980px;height:80px;padding-top:25px;padding-bottom:20px;margin:0 auto;font-size:12px;}
.tou .tou1{float:left;width:221px;margin-right:19px;}
.tou .tou1 img{border:0;}
.tou .tou2{float:left;width:600px;margin-right:10px;}
.tou .tou3{float:left;width:130px;border-top:1px dashed #e4dfcb;}
.tou .tou3 div div{border-bottom:1px dashed #e4dfcb;}



.dao1{width:980px;height:28px;margin:0 auto;background-color:#eceadd;font-size:16px;font-weight:bold;color:#87212e;}
.dao1 li{float:left;padding-left:13px;padding-right:13px;padding-top:3px;height:25px;line-height:25px;}
.dao1 .dao1a{background-color:#87212e;color:white;}
.dao1 .dao1b{width:290px;float:right;padding-top:2px;padding-right:0px;}
.dao2{width:980px;height:6px;margin:0 auto;background-color:#87212e;}
.dao3{width:980px;height:30px;margin:0 auto;background-color:#dddddd;font-size:14px;}
.dao3 .dao31{float:left;width:970px;line-height:30px;padding-left:10px;color:#87212e;}
.dao3 .dao31 a{color:#87212e;}
.dao4{width:980px;margin:0 auto;padding-top:20px;padding-bottom:20px;font-size:12px;color:#777777;line-height:1.5;}
.dao4 li{float:left;border-left:1px solid #cccccc;padding-left:8px;}
.dao4 li a{}
.dao4 li .a1{color:#87212e;}
.dao4 .dao4a{border-left:0;padding-left:0;}

.dao101{font-weight:bold;}
.dao101 a{margin-left:20px;}


.title1{width:300px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title1 .title1a{float:left;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title1 .title1b{float:right;text-align:right;font-size:12px;line-height:20px;}
.title1 .title1b a{color:#87212e;}
.title1 .title1c{float:left;font-size:12px;line-height:20px;}

.title2{width:468px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title2 .title2a{float:left;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title2 .title2b{float:right;text-align:right;font-size:12px;line-height:20px;}
.title2 .title2c{float:left;font-size:12px;line-height:20px;}
.title2 .title2b a{color:#87212e;}

.title3{width:172px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title3 .title3a{float:left;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title3 .title3b{float:right;text-align:right;font-size:12px;line-height:20px;}
.title3 .title3b a{color:#87212e;}

.title4{width:340px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title4 .title4a{float:left;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title4 .title4b{float:right;text-align:right;font-size:12px;line-height:20px;}
.title4 .title4b a{color:#87212e;}

.title5{width:660px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title5 .title5a{float:left;padding-right:20px;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title5 .title5b{float:right;width:80px;text-align:right;font-size:12px;line-height:20px;}
.title5 .title5b a{color:#87212e;}
.title5 .title5c{float:left;width:480px;text-align:center;font-size:14px;line-height:20px;color:black;}
.title5 .title5c span{padding-left:10px;padding-right:10px;border-left:1px solid #e4dfcb;}
.title5 .title5c .title5ca{padding-left:10px;padding-right:10px;border-left:0;}
.title5 .title5c1{float:left;width:400px;font-size:12px;line-height:20px;color:black;}

.title6{width:938px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title6 .title6a{float:left;font-size:18px;font-family:Arrial,微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:3px;}
.title6 .title6b{float:right;text-align:right;font-size:12px;line-height:20px;}
.title6 .title6b a{color:#87212e;}

.title7{width:798px;border-top:3px solid #e4dfcb;padding-top:4px;margin-bottom:5px;color:#87212e;}
.title7 .a{float:left;padding-right:20px;font-size:18px;font-family:微软雅黑,黑体;font-weight:bold;line-height:18px;letter-spacing:2px;}
.title7 .b{float:right;width:80px;text-align:right;font-size:12px;line-height:20px;}
.title7 .b a{color:#87212e;}

.idx03{height:70px;}
.idx03 li{float:left;width:128px;padding-left:4px;}
.idx03 .idx03a{float:left;width:128px;padding-left:0px;}
.idx03 li img{border:0;width:128px;height:70px;}

.idx04{width:300px;padding-top:5px;padding-bottom:5px;border-bottom:1px dashed #e4dfcb;line-height:1.5;}
.idx04 .idx04a{float:left;width:85px;padding-right:10px;}
.idx04 .idx04a img{width:85px;border:0;}
.idx04 .idx04b{float:left;width:205px;}
.idx04 .t{font-size:14px;font-weight:bold;padding-bottom:0px;line-height:1.2;}
.idx04__{width:300px;padding-top:0px;padding-bottom:5px;border-bottom:1px dashed #e4dfcb;line-height:1.5;}
.idx04__ .idx04a{float:left;width:85px;padding-right:10px;}
.idx04__ .idx04a img{width:85px;border:0;}
.idx04__ .idx04b{float:left;width:205px;}
.idx04__ .t{font-size:14px;font-weight:bold;padding-bottom:0px;line-height:1.2;}
.idx04_{width:300px;padding-top:10px;line-height:1.5;}
.idx04_ .idx04a{float:left;width:85px;padding-right:10px;}
.idx04_ .idx04a img{width:85px;border:0;}
.idx04_ .idx04b{float:left;width:205px;}
.idx04_ .t{font-size:14px;font-weight:bold;padding-bottom:0px;}

.idx05{width:310px;padding-bottom:6px;margin-bottom:8px;border-bottom:1px dashed #e4dfcb;line-height:1.6;font-size:12px;}
.idx05 .idx05a{float:left;width:40px;padding-right:5px;font-weight:bold;}
.idx05 .idx05b{float:left;width:265px;}
.idx05 .idx05b span{color:#cccccc;padding-left:5px;padding-right:5px;}

.idx06{width:310px;padding-bottom:7px;margin-bottom:5px;border-bottom:1px dashed #e4dfcb;line-height:1.3;font-size:12px;}
.idx06 .idx06a{float:left;width:46px;padding-right:10px;padding-top:2px;}
.idx06 .idx06b{float:left;width:254px;color:#777777;}


.article01{width:660px;}
.article01 li{width:320px;float:left;padding-left:20px;}
.article01 .article01a{padding-left:0px;}
.article01 li img{width:320px;height:120px;border:0;}

.article02{width:660px;}
.article02 li{width:128px;float:left;padding-left:5px;}
.article02 .article02a{padding-left:0px;}
.article02 li img{width:128px;height:70px;border:0;}

.label01{font-size:14px;line-height:2.0;}
.label01 span{color:#cccccc;padding-left:5px;padding-right:5px;}

.articlelist01{width:638px;padding-top:10px;padding-bottom:10px;}
.articlelist01 .articlelist01a{float:left;width:85px;padding-right:10px;}
.articlelist01 .articlelist01b{float:left;width:543px;}

.articlelist02t{width:638px;padding-top:20px;font-size:18px;font-family:微软雅黑,黑体;}
.articlelist02{width:638px;padding-top:10px;padding-bottom:20px;border-bottom:solid 1px #e4dfcb;}
.articlelist02 .articlelist02a{float:left;width:250px;padding-right:10px;}
.articlelist02 .articlelist02a img{width:250px;height:180px;border:0;}
.articlelist02 .articlelist02b{float:left;width:378px;font-size:12px;color:#777777;line-height:1.8;}
.articlelist02 .articlelist02b a{color:#777777;}

.articlelist03{}
.articlelist03 div{padding-top:12px;padding-bottom:12px;clear:both;}
.articlelist03 div img{margin:0 5px 5px 0;border:0;width:85px;float:left}
.articlelist03 div h4{line-height:1.3;font-family:微软雅黑,黑体;font-size:18px;font-weight:normal;}
.articlelist03 div h5{font-size:12px;line-height:1.8;font-weight:normal;}
.articlelist03 div h5 a{color:#777777;}

.articlelist04{}
.articlelist04 .a{padding-top:3px;padding-bottom:6px;margin-bottom:6px;border-bottom:dashed 1px #e4dfcb;}
.articlelist04 .a img{margin:0 5px 5px 0;border:0;width:85px;float:left}
.articlelist04 .a h4{line-height:1.3;font-size:14px;font-weight:bold;}
.articlelist04 .a h5{font-size:12px;line-height:1.5;font-weight:normal;}
.articlelist04 .a h5 a{color:#777777;}


.articletitle{font-size:24px;font-family:微软雅黑,黑体;padding-top:10px;padding-bottom:10px;line-height:1.5;}
.articleinfo{font-size:12px;color:#777777;}
.articleinfo span{padding-right:20px;}
.articlenote{margin-top:20px;padding:10px;background-color:#87212e;color:white;font-size:12px;line-height:1.8;}

.articlelabel01{width:980px;color:#87212e;font-size:14px;height:30px;line-height:30px;}
.articlelabel01 a{color:#87212e;}
.articlelabel01 .articlelabel01a{float:left;width:780px;border-bottom:solid 1px #e4dfcb;height:29px;}
.articlelabel01 .articlelabel01b{float:left;width:100px;border-bottom:solid 1px #e4dfcb;height:29px;text-align:center;}
.articlelabel01 .articlelabel01b_{float:left;width:98px;border-left:solid 1px #e4dfcb;border-top:solid 1px #e4dfcb;border-right:solid 1px #e4dfcb;height:28px;text-align:center;text-decoration:underline;}

.articlelabeltitle{font-size:18px;}
.articlelabeltitle a{padding-right:10px;}

.articlelabeltitle1{font-size:12px;font-weight:bold;line-height:1.5;}
.articlelabeltitle1 a{padding-right:20px;}

.articlelabeltitle2{font-size:12px;font-weight:bold;line-height:1.5;}
.articlelabeltitle2 a{padding-right:20px;}

.articlelabellist{font-size:12px;line-height:20px;width:938px;}
.articlelabellist li{float:left;width:134px;height:20px;}

.articlelabellist2{font-size:12px;line-height:20px;width:938px;}
.articlelabellist2 li{float:left;width:187px;height:20px;}

//.dissertationlist{width:656px;}
.dissertationlist li{float:left;width:320px;padding-bottom:30px;line-height:1.8;font-size:12px;color:#777777;}
.dissertationlist .a{padding-right:20px;}
.dissertationlist li a{color:#777777;}
.dissertationlist li img{width:320px;height:120px;border:0;margin-bottom:5px;}
.dissertationlist li center{font-size:14px;font-weight:bold;color:black;text-align:center;}

.discuss{width:660px;padding-bottom:10px;}
.discuss .discuss1{float:left;width:46px;padding-right:20px;padding-top:5px;}
.discuss .discuss2{float:left;width:594px;font-size:12px;line-height:1.8;}
.discuss .discuss2 .discuss21{font-size:14px;font-weight:bold;margin-right:20px;}
.discuss .discuss2 .discuss22{font-size:10px;}
.discuss .discuss2 p{font-weight:bold;padding:0;margin:0;}
.discuss .discuss2 .discuss3{width:594px;padding-top:3px;padding-bottom:3px;}
.discuss .discuss2 .discuss3 .discuss31{float:left;width:20px;padding-right:10px;padding-top:5px;}
.discuss .discuss2 .discuss3 .discuss32{float:left;width:564px;line-height:1.8;}
.discuss .discuss2 .discuss3 .discuss32 .discuss321{font-size:14px;font-weight:bold;margin-right:20px;}
.discuss .discuss2 .discuss3 .discuss32 .discuss322{font-size:10px;}


.copiclist01{}
.copiclist01 li{float:left;width:128px;padding-left:5px;padding-bottom:20px;font-size:12px;}
.copiclist01 .copiclist01a{padding-left:0px;}
.copiclist01 li img{width:128px;height:128px;border:0;margin-bottom:5px;}

.coclass01{height:30px;background-color:#eceadd;font-size:14px;font-weight:bold;line-height:30px;}
.coclass01 li{float:left;padding-left:10px;padding-right:10px;text-align:center;}
.coclass01 .coclass01a{background-color:#dddddd;color:#87212e;}
.coclass01 .coclass01a a{color:#87212e;}
.coclass01 .b{float:right;font-size:12px;font-weight:normal;}

.coclass02{height:30px;background-color:#dddddd;font-size:14px;line-height:30px;padding-left:5px;}
.coclass02 a{margin-left:5px;margin-right:5px;}
.coclass02 .coclass02a{color:#87212e;}

.z01{height:30px;background-color:#eceadd;font-size:14px;line-height:30px;}
.z01 li{float:left;padding-left:10px;padding-right:10px;text-align:center;}
.z01 .a{background-color:white;}
.z01 .y{padding-left:20px;padding-right:20px;}
.z01 .a a{}
.z01 .b{float:right;font-size:12px;}

.z02{height:30px;background-color:white;font-size:12px;line-height:30px;padding-left:20px;border-bottom:1px solid #e4dfcb;}
.z02 a{margin-right:10px;}
.z02 span{font-family:宋体;color:#777777;}
.z02 .a{TEXT-DECORATION:underline;font-weight:bold;}

.z03{height:25px;background-color:#dddddd;font-size:14px;line-height:25px;margin-bottom:20px;}
.z03 li{float:right;padding-left:20px;padding-right:20px;text-align:center;}
.z03 .a{background-color:white;font-weight:bold;}
.z03 .l{float:left;}

.ge1{}
.ge1 dt{clear:both;float:left;width:98px;padding:7px 5px 3px 0;}
.ge1 dd{float:left;width:570px;padding:5px 0 5px 0;}
.ge1 dd .w{width:572px;}

.ge2{}
.ge2 dt{clear:both;float:left;width:85px;padding:7px 0 3px 0;}
.ge2 dd{float:left;width:500px;padding:5px 0 5px 0;}

.ge3{width:600px;}
.ge3 dt{clear:both;float:left;width:40px;padding:7px 0 3px 0;}
.ge3 dd{float:left;width:540px;padding:5px 0 5px 0;}

.tips1{color:#ff6600;padding-top:5px;line-height:1.5;font-size:12px;}
.tips1 span{font-family:宋体;}
.tips1 img{margin-right:3px;margin-bottom:5px;float:left;}

.tips2{height:80px;font-size:14px;line-height:1.8;}
.tips2 h4{padding-top:15px;}
.tips2 img{float:left;margin-right:5px;}

.gd1{font-size:12px;}
.gd1 dt{clear:both;float:left;width:48px;padding:1px 2px 5px 0;}
.gd1 dd{float:left;width:150px;padding:0 0 5px 0;}

.gl1{font-size:12px;line-height:1.5;}
.gl1 input{border:0;}
.gl1 .hui{color:#777777;}
.gl1 .ha{color:#0063dc;}
.gl1 .aa{width:100%;margin:5px 0 5px 0;padding-bottom:5px;border-bottom:solid 1px #dddddd;}
.gl1 .a0{float:left;width:20px;padding-left:5px;}
.gl1 .a{float:left;width:120px;}
.gl1 .b{float:left;width:500px;}
.gl1 .c{float:left;width:160px;}
.gl1 .d{float:left;width:80px;}
.gl1 .e{float:left;width:280px;}
.gl1 .z{float:right;width:45px;text-align:right;padding-right:5px;}
.gl1 .a2{float:left;width:90px;padding-left:5px;}
.gl1 .b2{float:left;width:420px;}
.gl1 .c2{float:left;width:100px;}
.gl1 .z2{float:right;width:45px;text-align:right;padding-right:5px;}
.gl1 .a03{float:left;width:20px;padding-left:5px;}
.gl1 .a3{float:left;width:400px;padding-left:5px;}
.gl1 .b3{float:left;width:100px;}
.gl1 .z3{float:right;width:130px;text-align:right;padding-right:5px;}
.hui{color:#777777;}
.hui a{color:#777777;}
.hui .t_bl1{color:#0063dc;}


.coclass04{height:30px;background-color:#dddddd;font-size:14px;line-height:30px;}
.coclass04 li{float:left;padding-left:10px;padding-right:10px;text-align:center;}
.coclass04 .coclass04a{background-color:white;font-weight:bold;}
.coclass04 .coclass04a a{color:#87212e;}

.coclass05{height:30px;background-color:#dddddd;font-size:14px;line-height:30px;}
.coclass05 li{float:left;padding-left:10px;padding-right:10px;text-align:center;}
.coclass05 .a{background-color:white;}

.cobrandlist01{}
.cobrandlist01 li{float:left;width:128px;padding-left:5px;padding-bottom:5px;}
.cobrandlist01 .cobrandlist01a{padding-left:0px;}
.cobrandlist01 li img{width:128px;height:70px;border:0;}

.cotitlelist01{font-size:12px;line-height:1.5;}
.cotitlelist01 dt{float:left;width:140px;margin-right:20px;border-bottom:dashed 1px #e4dfcb;padding-top:5px;padding-bottom:2px;}
.cotitlelist01 dd{float:left;width:140px;border-bottom:dashed 1px #e4dfcb;padding-top:5px;padding-bottom:2px;}



.pagebar{font-size:14px;padding:10px 0 10px 0;}
.pagebar a{padding:2px 5px 2px 5px;border:1px solid black;margin-right:5px;}
.pagebar .a1{border:0;}


.photo1{width:46px;height:46px;border:0;}
.photo2{width:20px;height:20px;border:0;}


.productclasslist .a{float:left;font-size:12px;text-align:center;line-height:1.5;width:160px;margin:8px 2px 8px 2px;}
.productclasslist .a .c{float:left;width:138px;}
.productclasslist .a .c .b{text-align:left;background:url(/img/frame_128_128.png) right bottom no-repeat;}
.productclasslist .a .c .b img{border:solid 1px #f5f5f5;}

.productclasslist01{font-size:12px;width:230px;margin-bottom:80px;}
.productclasslist01 .b{float:left;width:138px;height:139px;background:url(/img/frame_128_128.png) right bottom no-repeat;text-align:left;}
.productclasslist01 .b .bi{border:solid 1px #cccccc;width:128px;height:128px;}
.productclasslist01 .b .bi img{border:0;}
.productclasslist01 .b .b1{position:absolute;z-index:20;}
.productclasslist01 .b .b1 .b11{position:relative;left:100px;border:0;}
.productclasslist01 .b .b1 .b12{position:relative;left:100px;top:100px;border:0;}
.productclasslist01 .c{float:left;width:87px;margin-left:5px;}
.productclasslist01 .c .c1{font-size:14px;font-weight:bold;margin-bottom:10px;}
.productclasslist01 .c .c2{line-height:1.5;margin-top:10px;margin-bottom:20px;}
.productclasslist01 .c .c3{}


.productlist .a{float:left;font-size:12px;line-height:1.5;padding:0px 12px 40px 0px;width:350px;}
.productlist .a1{width:270px;}
.productlist .a .c{float:left;width:245px;}
.productlist .a .c .b{float:left;background:url(/img/frame_240_240.png) right bottom no-repeat;padding-right:5px;padding-bottom:5px;}
.productlist .a .c .b img{border-left:solid 1px #f5f5f5;border-top:solid 1px #f5f5f5;}

.di1{color:white;line-height:1.5;}
.di1 a{color:white;}
.di1 span{color:#cccccc;padding-left:5px;padding-right:5px;}

.xgg{font-size:12px;border:1px solid #e4dfcb;}
.xgg .a{padding:5px;background-color:#eceadd;text-align:center;color:#87212e;}
.xgg .a a{color:#87212e;}
.xgg .b{height:93px;padding:5px;background-color:white;line-height:1.5;}

.xcpgg{width:127px;font-size:12px;border-right:1px solid #e4dfcb;}
.xcpgg img{margin-top:5px;}

.cohy{margin-top:20px;padding-bottom:20px;border-bottom:1px dashed #e4dfcb;font-size:12px;}
.cohy .a{float:left;width:128px;margin-right:40px;text-align:right;}
.cohy .a .ai{width:128px;height:70px;margin-bottom:10px;}
.cohy .b{float:left;width:530px;}
.cohy .c{float:right;width:100px;text-align:center;font-weight:bold;padding-top:20px;}

.label02{font-size:18px;background-color:#eceadd;text-align:center;padding:5px 0px 0px 40px;width:758px;}
.label02 li{float:left;width:27px;cursor:hand;cursor:pointer;padding-bottom:5px;}
.label02 .a{background-color:#87212e;color:white;}

.label02_{font-size:18px;background-color:#eceadd;text-align:center;padding:5px 0px 0px 20px;width:640px;}
.label02_ li{float:left;width:24px;cursor:hand;cursor:pointer;padding-bottom:5px;}
.label02_ .a{background-color:#87212e;color:white;}

.label02a{position:absolute;z-index:10;width:930px;}
.label02a .a{width:910px;padding:10px;background-color:#87212e;color:white;font-size:12px;}
.label02a .a li{float:left;width:124px;margin-right:5px;margin-bottom:5px;}
.label02a .a li a{color:white;}


.label03{font-size:14px;}
.label03 li{width:128px;float:left;line-height:1.5;}

.co03 li{float:left;width:128px;padding-left:6px;}
.co03 .a{float:left;width:128px;padding-left:0px;}
.co03 li img{border:0;width:128px;height:70px;}


.coproductlist{width:798px;font-size:12px;}
.coproductlist .a{margin-top:20px;padding-bottom:10px;border-bottom:dashed 1px #e4dfcb;}
.coproductlist .a .a2{float:left;width:128px;margin-right:20px;}
.coproductlist .a .a2 img{border:0;}
.coproductlist .a .a3{float:left;width:450px;}
.coproductlist .a .a3 .a31{font-size:18px;font-family:微软雅黑,黑体;}
.coproductlist .a .a3 .a32{line-height:1.8;margin-top:5px;}
.coproductlist .a .a3 .a32 a{color:#87212e;font-weight:bold;}
.coproductlist .a .a3a{float:left;width:598px;}
.coproductlist .a .a3a .a31{font-size:18px;font-family:微软雅黑,黑体;}
.coproductlist .a .a3a .a32{line-height:1.8;margin-top:5px;}
.coproductlist .a .a3a .a32 a{color:#87212e;font-weight:bold;}
.coproductlist .a .a9{float:left;width:30px;margin-top:3px;}
.coproductlist .a .a4{float:left;width:70px;margin-top:5px;}
.coproductlist .a .a5{float:left;margin-left:10px;text-align:center;}
.coproductlist .b{height:12px;border-bottom:1px dashed #e4dfcb;}
.coproductlist .b span{font-size:10px;color:#777777;padding-left:10px;padding-right:10px;background-color:#e4dfcb;}


.focus1 img{width:300px;height:200px;border:0;}
.focus1 .a{position:absolute;z-index:10;width:300px;text-align:right;}
.focus1 .a .a1{position:relative;top:180px;}
.focus1 .a .a1 img{cursor:hand;cursor:pointer;width:26px;height:20px;}
.focus1t{background-color:#eceadd;font-size:12px;font-weight:bold;text-align:center;padding-top:7px;height:23px;}

.focus2 img{width:300px;height:218px;border:0;}
.focus2 .a{position:absolute;z-index:10;width:300px;text-align:right;}
.focus2 .a .a1{position:relative;top:198px;}
.focus2 .a .a1 img{cursor:hand;cursor:pointer;width:26px;height:20px;}
.focus2t{background-color:#eceadd;font-size:12px;font-weight:bold;text-align:center;padding-top:7px;height:23px;}


.formcollist{width:200px;height:100px;}
.formcollist li{float:left;width:10px;height:10px;margin:2px;cursor:hand;cursor:pointer;font-size:1px;}


#Cl{z-index:9901;border:solid 1px;cursor:default;position:absolute;width:188px;background:#ECE9D8;height:190px;font-size: 12px;text-align:right;}
#Cl b{float:left;}
#Cl input{width:28px;height:17px;font-size: 12px;padding: 0px;line-height: 17px;font-family:Arial;}
#Cl div{position:absolute;}
#Cl1{width:156px;left:3px;top:3px; -moz-user-select:none; hutia:expression(this.onselectstart=function(){return(false)});}
#Cl1 b{width:5px;line-height:5px;height:5px;overflow:hidden;}
#Cl2{width:20px;left:163px;top:3px;}
#Cl2 b{width:20px;line-height:5px;height:5px;overflow:hidden;}
#Cl3{left:3px;width:45px;height:30px;top:97px;background:#Ff0000;border-right-width: 0px;}
#Cl5{width:50px;height:30px;left:3px;top:127px;font-size:10px;text-align:left;}
#Cl6{width:110px;height:45px;left:48px;top:97px;}
#Cl6 input{margin-bottom:2px;}
#Cl7{width:20px;height:20px;position:absolute;text-align: center;-moz-user-select:none; hutia:expression(this.onselectstart=function(){return(false)});}
#Cl8{width:20px;height:20px;position:absolute;left:160px;overflow:hidden;-moz-user-select:none; hutia:expression(this.onselectstart=function(){return(false)});}
#Cl9{width:100px;height:30px;left:3px;top:165px;text-align:left;}
#Cl9 input{font-size:14px;width:40px;height:20px;}



.zone_st{width:980px;margin:0 auto;font-size:12px;height:30px;padding-top:20px;text-align:right;}
.zone_st img{position:relative;top:5px;margin-right:3px;}

.zone01{height:40px;padding-right:20px;background-color:white;line-height:40px;font-size:14px;text-align:right;}
.zone01 a{color:#0063dc;}
.zone01 img{position:relative;top:5px;margin-right:3px;}
.zone1{width:940px;padding:0 20px 20px 20px;background-color:white;}
.zone2{height:auto !important;height:340px;min-height:340px;width:918px;padding:10px;border:solid 1px #dddddd;font-size:12px;}

.zone_gj{font-size:12px;height:35px;padding-top:10px;line-height:1.8;}
.zone_gj .gjl{float:left;font-size:14px;color:#0063dc;}
.zone_gj .gjl a{color:#0063dc;}
.zone_gj .gjl span{font-family:宋体;}
.zone_gj .gjr{float:right;text-align:right;}

.zone_nr{}
.zone_nr .l{float:left;width:700px;}
.zone_nr .l1{padding:10px;border:solid 1px #dddddd;background-color:white;}
.zone_nr .l2{border:solid 1px #dddddd;background-color:white;}
.zone_nr .mh{height:auto !important;height:350px;min-height:350px;}
.zone_nr .r{float:right;width:200px;padding-left:10px;}


.split{}
.split span{color:#cccccc;padding-left:5px;padding-right:5px;}















